
.p__details__box {

    .thumbnail {
        width: 4rem;
        height: 4rem;
    }
    
    .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
        padding: 0px 6px;
    }
    .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
        margin: 5px 0 0 0;
    }
}

.p__details__desc {
    .counter__box {
        max-width: 140px;
        .ant-input {
            border-left: 0;
            border-right: 0;
        }
    }
}