footer {
    .ant-list-sm .ant-list-item {
        padding: 3px 0;
    }

    .payment__wrapp {
        text-align: center;
        img { 
            height: auto;
            width: 63px;
        } 
    }
    .ant-list-split .ant-list-item {
        border-bottom: 0;
    }
}


@media (max-width:576px) {
    footer .payment__wrapp img {
        height: auto;
        width: 35px;
    }
}